<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head th:replace="~{layout/plantilla :: head}">
        <title>TechShopcito</title>
        <meta charset="UTF-8"/> 
    </head>
    <body>
        
        <!-- 1 nuevo.html fragmento que se utiliza registrar nuevos usuarios -->
        <section th:fragment="nuevo">
            <div class="row p-2 justify-content-center">
                <div class="col-md-3">
                    <a th:href='@{/login}' 
                       class='btn btn-primary'>
                        <i class='fas fa-arrow-left'></i> [[#{accion.regresar}]]
                    </a>
                </div>
            </div>
            <div class="row p-2 justify-content-center">
                <div class="col-md-3">
                    <form method="POST"
                          th:action="@{/registro/crear}" 
                          th:object="${usuario}"
                          class="was-validated">
                        <div class="card">
                            <div class="card-header bg-success text-white text-center">
                                <h4>[[#{usuario.agregar}]]</h4>
                            </div>
                            <div class="card-body">
                                <div class="form-group mb-3">
                                    <label>[[#{usuario.username}]]</label>
                                    <input type="text" class="form-control" 
                                           name="username" 
                                           th:field="*{username}"
                                           required="true"/>
                                </div>
                                <div class="form-group mb-3">
                                    <label>[[#{usuario.nombre}]]</label>
                                    <input type="text" class="form-control" 
                                           name="nombre" 
                                           th:field="*{nombre}"
                                           required="true"/>
                                </div>
                                <div class="form-group mb-3">
                                    <label>[[#{usuario.apellidos}]]</label>
                                    <input type="text" class="form-control" 
                                           name="apellidos" 
                                           th:field="*{apellidos}"
                                           required="true"/>
                                </div>
                                <div class="form-group mb-3">
                                    <label>[[#{usuario.correo}]]</label>
                                    <input type="email" 
                                           class="form-control" 
                                           name="correo" 
                                           th:field="*{correo}"
                                           required="true"/>
                                </div>
                            </div>
                            <div class='card-footer text-center'>
                                <button type='submit'
                                        class='btn btn-primary'>
                                    <i class='fas fa-envelope'></i> [[#{usuario.activacion}]]
                                </button>
                            </div>
                        </div>
                    </form>
                </div>            
            </div>
        </section>
        
        <!-- 2 salida.html fragmento que se utiliza registrar nuevos usuarios -->
        <section th:fragment="salida">
            <div class="row p-10 justify-content-center">
                <div class="col-md-3">
                    <div class="card">
                        <div class="card-header bg-primary text-white text-center">
                            <h4>[[${titulo}]]</h4>
                        </div>
                        <div class="card-body">
                            <p>[[${mensaje}]]</p>
                        </div>
                        <div class="card-footer text-center">
                            <a th:href='@{/}' 
                               class='btn btn-primary'>
                                <i class='fas fa-home'></i> [[#{accion.regresar}]]
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        
        <!-- 3 activa.html fragmento que se utiliza activar usuarios -->
        <section th:fragment="activa">            
            <div class="row p-2 justify-content-center">
                <div class="col-md-3">
                    <form method="POST"
                          th:action="@{/registro/habilitar}" 
                          th:object="${usuario}"
                          enctype="multipart/form-data"
                          class="was-validated">
                        <input type="hidden" name="idUsuario" th:field="*{idUsuario}"/>
                        <div class="card">
                            <div class="card-header bg-success text-white text-center">
                                <h4>[[#{registro.activar}]]</h4>
                            </div>
                            <div class="card-body">
                                <div class="form-group mb-3">
                                    <label>[[#{usuario.username}]]</label>
                                    <input type="text" class="form-control" 
                                           name="username" 
                                           th:field="*{username}"
                                           required="true"/>
                                </div>
                                <div class="form-group mb-3">
                                    <label>[[#{usuario.nombre}]]</label>
                                    <input type="text" class="form-control" 
                                           name="nombre" 
                                           th:field="*{nombre}"
                                           required="true"/>
                                </div>
                                <div class="form-group mb-3">
                                    <label>[[#{usuario.apellidos}]]</label>
                                    <input type="text" class="form-control" 
                                           name="apellidos" 
                                           th:field="*{apellidos}"
                                           required="true"/>
                                </div>
                                <div class="form-group mb-3">
                                    <label>[[#{usuario.correo}]]</label>
                                    <input type="email" 
                                           class="form-control" 
                                           name="correo" 
                                           th:field="*{correo}"
                                           required="true"/>
                                </div>                                
                                <div class="form-group mb-3">
                                    <label>[[#{usuario.telefono}]]</label>
                                    <input type="tel" 
                                           class="form-control" 
                                           name="telefono" 
                                           th:field="*{telefono}"/>
                                </div>                                
                                <div class="form-group mb-3">
                                    <label>[[#{usuario.password}]]</label>
                                    <input type="password" 
                                           class="form-control" 
                                           name="password" 
                                           th:field="*{password}"
                                           required="true"/>
                                </div>                                
                                <div class="form-group mb-3">
                                    <label>[[#{usuario.imagen}]]</label>
                                    <input class="form-control" 
                                           type="file" 
                                           name="imagenFile" 
                                           onchange="readURL(this);"/>
                                    <img id="blah" src="#" alt="your image" height="200"/>
                                </div>
                            </div>
                            <div class='card-footer text-center'>
                                <button type='submit'
                                        class='btn btn-primary'>
                                    <i class='fas fa-user-plus'></i> [[#{usuario.activacion}]]
                                </button>
                            </div>
                        </div>
                    </form>
                </div>            
            </div>
        </section>
        
        
    </body>
</html>
